<article class="challenge">
    <div>
        <div>
            <h3>{{title}}</h3>
            <span>Created by {{user.username}} on {{format_date created_at}}</span>
        </div>
        <p>{{challenge_text}}</p>
        <p>{{format_challenge_date2 due_date}}</p>
    </div>
</article>