<div class="flex flex-wrap">
    <article class="max-w-lg">
    <div class=" bg-white rounded shadow-2xl p-12">
    <div class="title">
        <div class="title-bar">
            <h3 class="flex-wrap"><a href="/group/posts/{{id}}" class="bold text-2xl">{{title}}</a></h3>
            <span class="text-sm italic flex-wrap">Posted by {{user.username}} on {{format_date created_at}}</span>
        </div>
        <p class="bold flex-wrap">{{post_text}}</p>
         <p class="bold flex-wrap">Topic: {{group_topic}}</p>
    </div>
    </div>
</article>
</div>
</br></br>