{{> header}}

<div class="flex justify-center mt-32">
<article class="">
 <div class="bg-white rounded shadow-2xl p-12  "> 
   <h2 class=" font-bold text-3xl mb-3">
    Edit Post
  </h2>
  <form class="edit-post-form ">
    <div>
      <label for="post-title">Title</label>
      <textarea name="post-title" type="text" value="{{post.title}}" class="w-full text-xl border border-solid px-3 py-1.5" >{{post.title}}</textarea></br></br>
      <label for="post-text">Post Text</label>
      <textarea name="post-text" type="text" value="{{post.post_text}}" class="w-full border border-solid px-3 py-1.5">{{post.post_text}}</textarea></br></br>
      <label for="post-topic">Topic</label>
      <textarea name="post-topic" type="text" value="{{post.group_topic}}" class="w-full border border-solid px-3 py-1.5">{{post.group_topic}}</textarea>
    </div>
    <div class="text-sm">
      By You on {{format_date post.created_at}}
      |
      {{post.comments.length}} {{format_plural "comment" post.comments.length}}
    </div>
    <button type="submit" class=" bg-green-500 hover:bg-green-700 rounded p-2 mt-3">Save</button>
    <button type="button" class="delete-post-btn  bg-red-500 hover:bg-red-600 rounded p-2 ">Delete</button>
  </form>
  </div>
</article>
</div>

{{> footer}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
