{{> header}}

<div class="flex justify-center mt-32">
<article>
  <div class="bg-white rounded shadow-2xl p-12">

  <h2 class="font-bold text-3xl mb-3">
    Edit Challenge
  </h2>
  <form class="edit-challenge-form">
    <div>
      <label for="challenge-title">Title</label>
      <input name="challenge-title" type="text" value="{{challenge.title}}" class="w-full text-xl border border-solid px-3 py-1.5" /></br></br>
      <label for="challenge-text">Challenge Text</label>
      <textarea name="challenge-text" type="text" value="{{challenge.challenge_text}}" class="w-full border border-solid px-3 py-1.5">{{challenge.challenge_text}}</textarea></br>
      <label for="challenge-due-date " class="text-sm">Due Date:</label>
      <input name="challenge-due-date" id="date" type="date" value="{{format_challenge_date challenge.due_date}}" />
    </div>
    <div class="text-sm">
      By You on {{format_date challenge.created_at}}
    </div>
    <button type="submit" class=" bg-green-500 hover:bg-green-700 rounded p-2 mt-3">Save</button>
    <button type="button" class="delete-challenge-btn bg-red-500 hover:bg-red-600 rounded p-2">Delete</button>
  </form>
  </div>
</article>
</div>

{{> footer}}

<script src="/javascript/edit-challenge.js"></script>
<script src="/javascript/delete-challenge.js"></script>